
<mat-card class="container">
    <div class='navBar'>
        <button mat-raised-button class="navButton"><a href='#moviesSearch'>Search</a></button>
        <button mat-raised-button class="navButton"><a href='#moviesNowPlaying'>Now Playing</a></button>
        <button mat-raised-button class="navButton"><a href='#moviesComingSoon'>Coming Soon</a></button>
        <button mat-raised-button class="navButton"><a href='#moviesPopular'>Popular Movies</a></button>
        <button mat-raised-button class="navButton"><a href='#moviesPopularKids'>Popular Kids Movies</a></button>
      </div>
  <div class='header'>
      <a name='moviesSearch'></a>
    <form>
      <div class='search'>
        <div>
          <input type="text" class="searchInput" placeholder="Search Movies"
            name="movie"
            [(ngModel)]="movie">
        </div>
        <div>
          <button mat-raised-button class="searchButton" (click)="searchMovies()">Search</button>
        </div>
      </div>
    </form>
  </div>

  <div class='movieCategory' >
    <div *ngFor="let movie of search_result; let i = index">
      <div  *ngIf="i < 10">
        <div>
          <a routerLink="/moviedetail/{{ movie.id }}" href="#" class="movieDetail"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" 
                alt="{{ movie.original_title }}" 
                style="height: 460px"></a>
          <mat-card-subtitle class='movieInfo'>{{ movie.original_title }}</mat-card-subtitle>      
          <mat-card-subtitle class='movieInfo'>{{ movie.release_date }}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class='categoryHeader'>
    <a name='moviesNowPlaying'></a>
    <h1 class='categoryTitle'> Now Playing</h1>
  </div>
  
  <div class='movieCategory'>
    <div *ngFor="let upcoming of nowInTheaters_movies; let i = index">
      <div *ngIf="i < 10">
        <div>
          <a routerLink="/moviedetail/{{ upcoming.id }}" href="#" class="movieDetail"><img src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}"
                alt="{{ upcoming.original_title }}" 
                style="height: 460px">
              </a>
          <mat-card-subtitle class='movieInfo'>{{ upcoming.original_title }}</mat-card-subtitle>    
          <mat-card-subtitle class='movieInfo'>{{ upcoming.release_date }}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <div class='categoryHeader'>
    <a name='moviesComingSoon'></a>
    <h1 class='categoryTitle'>Coming Soon</h1>
  </div>
  
  <div class='movieCategory'>
    <div *ngFor="let upcoming of upcoming_movies; let i = index">
      <div *ngIf="i < 10">
        <div>
          <a routerLink="/moviedetail/{{ upcoming.id }}" href="#" class="movieDetail"><img src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}"
                alt="{{ upcoming.original_title }}" 
                style="height: 460px">
              </a>
          <mat-card-subtitle class='movieInfo'>{{ upcoming.original_title }}</mat-card-subtitle>    
          <mat-card-subtitle class='movieInfo'>{{ upcoming.release_date }}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <div class='categoryHeader'>
      <a name='moviesPopular'></a>
    <h1 class='categoryTitle'>Popular Movies</h1>
  </div>
  
  <div class='movieCategory'>
    <div *ngFor="let popular of popular_movies; let i = index">
      <div *ngIf="i < 10">
        <div>
          <a routerLink="/moviedetail/{{ popular.id }}" href="#" class="movieDetail"><img src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" 
                alt="{{ popular.original_title }}" 
                style="height: 460px"></a>
          <mat-card-subtitle class='movieInfo'>{{ popular.original_title }}</mat-card-subtitle>
          <mat-card-subtitle class='movieInfo'>{{ popular.release_date }}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class='categoryHeader'>
      <a name='moviesPopularKids'></a>
    <h1 class='categoryTitle'>Popular Kids Movies</h1>
  </div>
  
  <div class='movieCategory'>
    <div *ngFor="let popular of popularKids_movies; let i = index">
      <div *ngIf="i < 10">
        <div>
          <a routerLink="/moviedetail/{{ popular.id }}" href="#" class="movieDetail"><img src="https://image.tmdb.org/t/p/w500/{{ popular.poster_path }}" 
                alt="{{ popular.original_title }}" 
                style="height: 460px"></a>
          <mat-card-subtitle class='movieInfo'>{{ popular.original_title }}</mat-card-subtitle>
          <mat-card-subtitle class='movieInfo'>{{ popular.release_date }}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </div>


</mat-card>

